.owl-carousel .item img {
    display: block; 
     width: 100%;
    height: auto;
  } 
  .owl-stage{
    height: 30%;
  }
  .owl-carousel {
    height: 300px;
  }
  .owl-theme .owl-nav.disabled + .owl-dots {
    margin-top: 60px;
  }
  #edyoda-projects-logo {
    width: 128px;
    position: fixed;
    bottom: 50px;
    right: 50px;
    z-index: 2;
  }